body {
    font-family: Arial, Helvetica, sans-serif;
}

.todo {
    margin: 0px auto;
    width: 1100px;
    border: 2px solid red;
}

.MiFoto {
    height: 230px;
    border: 2px solid blue;
}